<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
	<link rel="apple-touch-icon" sizes="57x57" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon.ico">
	<link rel="icon" type="image/ico" href="favicon.ico" sizes="32x32">
	<link rel="icon" type="image/ico" href="favicon.ico" sizes="192x192">
	<link rel="icon" type="image/ico" href="favicon.ico" sizes="96x96">
	<link rel="icon" type="image/ico" href="favicon.ico" sizes="16x16">
	<link rel="manifest" href="manifest.json">
	<meta name="theme-color" content="#ffffff">


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="index.css" type="text/css" rel="stylesheet">
</head>

<body>
	<div id="container">
		<div id="header" class="shadow-lr">
			<img class="phet-logo" src="phet-banner.png"></img>
		</div>
		{{#each filesByLanguage}}
		<div class="menu-wrapper">
			<h1>{{@key}}</h1>
			<hr /> 
			{{#each .}}
			<div class="simulation-list-item">
				<a href="{{url}}" class="simulation-link">
					<img class="simulation-list-thumbnail" src="{{image}}" id="simulation-display-thumbnail-area-builder" alt="Screenshot of the {{display}}"><br>
					<strong><span class="simulation-list-title">{{displayName}}</span></strong><br>
					<span class="sim-display-badge sim-badge-html"></span>
				</a>
				<!-- TODO: find a better way to get this working (at the moment a sign in is required for download)
						<a href="{{notes}}">Notes</a>
						-->
			</div>
			{{/each}}
		</div>
		{{/each}}
</body>

</html>